#body {
    display: grid;
    grid-template-columns: 1fr 1% 1fr;
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
    left: 0;
}

.resize {
    padding: 10px;
    overflow: auto;
}

.slider {
    width: 5px;
    height: 100%;
}