h2 {
    color: var(--dark);
    font-family: 'Teko', sans-serif;
    font-weight: lighter;
}

#editor {

    width: 99%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 5px;
    margin-right: 5px;
    resize: none;
    font-size: 1rem;
    color: var(--dark);
    overflow-y: scroll;
}

#editor-input {
    width: 100%;
    margin: 0% 0 1% 1%;
    padding: 0 0 0 15px;
    background-color: var(--light-view);
    border: 1px var(--dark) solid;
    border-radius: 10px 0 0 10px;
    box-shadow: inset -2px 2px 25px 1px rgb(193, 193, 193); 
    resize: horizontal;
}

@media (min-width: 0px) {  
    #editor-input {
    font-size: 1.5rem;
    }
  }
  
  @media (min-height: 400px) {
    #editor-input {
      margin-top: 5%;
    }
  }

  @media (orientation: portrait) {
    #editor-input {
      margin-top: 10%;
      width: 93%;
      resize: vertical;
      border-radius: 10px 10px 0 0;
    }
  }
    
    @media (min-width: 640px) {
    #editor-input {
      font-size: 2rem;
    }
  }
    
    @media (min-width: 1080px) {
    #editor-input {
      font-size: 2.5rem;
    }
  }