
#preview {
  font-family: 'Teko', sans-serif;
  font-weight: regular;
  width: 97.5%;
  margin: 5% 1% 1% 0;
  padding: 0 0 0 10px;
  background-color: var(--light-view);
  border: 1px var(--dark) solid;
  border-radius: 0 10px 10px 0;
  box-shadow: inset -2px 2px 25px 1px rgb(193, 193, 193);
  color: var(--dark);
  font-size: 1.75rem;
  overflow-y: scroll;
}

table {
  border: 1px var(--dark) solid;
  background-color: var(--dark);
}

th, td {
  border: 1px var(--dark) solid;
  padding: 5px;
  background-color: var(--light);
}

img {
  border: 5px var(--dark) solid;
  border-radius: 10px;
  padding: 5px;
}

pre {
  border: 1px var(--dark) solid;
  background-color: var(--dark-view);
  color: var(--light);
  margin-right: 10px;
}

code {
  background-color: var(--dark-view);
  color: var(--light);
}

blockquote{
  border-left: 7.5px var(--dark) solid;
  border-radius: 5px;
  padding-left: 5px;
}

@media (min-width: 0px) {  
  h2 {
    font-size: 2rem;
  }
}
  
  @media (min-width: 640px) {
  h2 {
    font-size: 2.5rem;
  }
}
  
  @media (min-width: 1080px) {
  h2 {
    font-size: 3rem;
  }
}