
#preview {
  font-family: 'Teko', sans-serif;
  font-weight: regular;
  width: 98%;
  margin: 0 1% 1% 0;
  padding: 0 0 0 10px;
  background-color: var(--light-view);
  border: 1px var(--dark) solid;
  border-radius: 0 10px 10px 0;
  box-shadow: inset -2px 2px 25px 1px rgb(193, 193, 193);
  color: var(--dark);
  font-size: 1.75rem;
  overflow-y: scroll;
  flex-wrap: wrap;
  resize: horizontal;
}

table {
  border: 1px var(--dark) solid;
  background-color: var(--dark);
}

th, td {
  border: 1px var(--dark) solid;
  padding: 5px;
  background-color: var(--light);
}

img {
  border: 5px var(--dark) solid;
  border-radius: 10px;
  padding: 5px;
}

pre {
  border: 1px var(--dark) solid;
  background-color: var(--dark-view);
  color: var(--light);
  margin-right: 10px;
}

blockquote{
  border-left: 7.5px var(--dark) solid;
  border-radius: 5px;
  padding-left: 5px;
}

@media (min-width: 0px) {  
  #preview {
  font-size: 1.0rem;
  }
  h1 {
    font-size: 2.5rem;
  }
}

@media (min-height: 400px) {
  #preview {
    margin-top: 5%;
  }
  h1 {
    font-size: 2.75rem;
  }
}

@media (orientation: portrait) {
  #preview {
    margin-top: 10%;
    width: 96%;
    resize: vertical;
    border-radius: 0 0 10px 10px;
    margin-left: 2%;
    padding: 0;
  }
}
  
  @media (min-width: 640px) {
  #preview {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 3rem;
  }
}
  
  @media (min-width: 1080px) {
  #preview {
    font-size: 2.5rem;
  }
}