#slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 1%;
    width: 1%;
    text-align: center;
    cursor: col-resize;
    color: var(--dark);
    height: 100%;
}

@media (orientation: portrait) {
    #slider {
      width: 100%;
      height: 0.5%;
      padding: 0;
    }
  }